body{
	margin: 0;
	padding: 0;
	font: 0.46cm Arial, sans-serif;
	line-height: 1.4;
	background: white;
	color: black;
}

div{
	border: 1px solid #ccc;
}

#container {
	margin:0 auto;
	width: 1000px;
	min-height: 700px;
}

#header{
	width: 980px;
	height: 70px;
	padding: 30px 0px 0px 20px
}
#left_block{
	float: left;
	width: 200px;
	height: 100%;
}
#center_block{
	float: left;
	width: 594px;
	min-height: 494px;
}
#right_block{
	float: left;
	width: 200px;
	height: 100%;
}
#footer{
	clear: both;
	width: 100%x;
	height: 100px;
}

#site_name{
	font-size: 36px;
	color: #ccc;
}

.link_with_class{
	text-decoration: none;
}

.block500{
	height: 500px;
	width: 100%;
}

.block25{
	height: 25px;
	width: 100%;
}

.article_block{
	border: 1px dotted;
	float: left;
}

.img_with_right_text{
	float: left;
	margin: 10px;
}

.article_title{
	font-size: 20px;
	font-weight: bold;
}

.img_with_left_text{
	float: right;
	margin: 10px;
}

.block_lists div{
	float: left;
}

.block_lists div{
	float: left;
	width: 185px;
	margin: 0px 5px 0px 5px;
}

.clr{
	clear: both;
}

.block_list div{
	margin: 0 auto;
	width: 450px;
}

.block_list li{
	list-style-image: url("../images/mark.png")
	
}

.inline_list li{
	/*display:inline;*/
	float: left;
	margin-left: 30px;
}

#special_table{
	width: 100%;
	background: #aff;
	color: blue;
	border-spacing: 1px; /*Расстояние между ячейками*/
}

#special_table caption{
	font-size: 18px;
	font-weight: bold;
	border: 3px dotted;
}

#special_table td{
	background: maroon;
	color: yellow;
	padding: 5px;/*Поля вокруг текста*/